@model IEnumerable<Clinic_Website.Models.DayList>
@using Clinic_Website.Models



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayName)
        </th>

        <th>
          Available Times 
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td style="width:700px; line-height:30px">

                @foreach (var item1 in item.AvailableTimes.ToList())
                {
                <span class="mr-2 border-right">
                    @item1.Slot_start.GetDisplayName()  
                </span>
                        }

                
                </td>

            <td>
                @Html.ActionLink("Edit Avaiable Times", "Edit", "Clinics", new { id=Model.FirstOrDefault().ClinicId }, htmlAttributes: new { @class = "" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id },  new { onclick = "return confirm('Are sure want to delete?');" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new { @class = "btn btn-outline-primary" })
</p>
 