@model IEnumerable<Clinic_Website.Models.DayList>
@using Clinic_Website.Models

@{
    ViewBag.Title = "YourclinicDaylist";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YourclinicDaylist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td>
                @foreach (var item1 in item.AvailableTimes.ToList())
                {
                   
                    @Html.ActionLink(item1.Slot_start.GetDisplayName(), "Edit", new { id = item.Id })  @:


                    @:
                }


            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
