@model Clinic_Website.Models.Clinic
@using Clinic_Website.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>clinic</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="alert alert-info">
        @{ if (ViewBag.Result != null)
            {
                <h3>@ViewBag.Result</h3> } }


    </div>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicDescription)
        </dd>
        <dt>
            Available Appointments
        </dt>

        <dd>

            <div>
                @{
                    for (int i = 0; i < 4; i++)
                    {
                        @: <div>
                            @DateTime.Now.AddDays(i).ToString("dddd, dd MMMM yyyy");
                        @:   </div>






                        var o = Model.DayLists.ToList().Find(x => x.DayName.GetDisplayName() == DateTime.Now.AddDays(i).DayOfWeek.ToString());


                        if (o != null)
                        {

                            <div>
                                @foreach (var item1 in o.AvailableTimes.ToList())
                                {


                                    if (item1.Taken == false)
                                    {
                                        @Html.ActionLink(item1.Slot_start.GetDisplayName(), "Create", "Appointment", new { date = @DateTime.Today.AddDays(i), time = item1.Slot_start, Id = item1.DayList.Clinic.Id, time1=item1.Id }, htmlAttributes: new { @class = "" });@:
                                        @:
                                    }
                                }
                            </div>

                        }

                        else
                        {

                            @: Not Available
                        }

                    }
                }

            </div>


        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.ClinicImage)
        </dt>




        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.ClinicImage)"
                 class="thumbnail"
                 style="width:128px; height:128px;" />
        </dd>
        <dt>
            Location
        </dt>

        <dd>
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=@Convert.ToString(Model.Latitude, new System.Globalization.CultureInfo("en-US"))%20%20+@Convert.ToString(Model.Longitude , new System.Globalization.CultureInfo("en-US"))&key=AIzaSyBDV8rIV9awqVrrzv33NjfB1ekE_5UNgZk" allowfullscreen></iframe>
        </dd>


    </dl>
</div>
    <p>
       
        @Html.ActionLink("back to home", "Index")
    </p>
