@model IEnumerable<Clinic_Website.Models.Clinic>
 
@{
    ViewBag.Title = "Your Clinics";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int x=0; 
}

<style>
    body{
        font-size: 18px;

    }

    tr td {
        height: 70px;
        min-width:300px;
    }

</style>

<h2 class="mt-5" style="position:absolute; top:150px; left:400px;">YourClinics</h2>

 
<table class="table  my-5">
    <thead class="thead-dark">
        <tr>
            <th>
               #
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ClinicName)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>


            <th></th>
        </tr>
    </thead>
    
     
<tbody>
    @foreach (var item in Model)
    {
        x++;
        <tr>

            <th> @x</th>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>

                @Html.ActionLink("View App", "ClinicApps", "Appointment", new { id = item.Id }, htmlAttributes: new { @class = "" }) |
                @Html.ActionLink("Clinic Days", "ClinicDays", "Daylist", new { id = item.Id }, htmlAttributes: new { @class = "" }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
    }
</tbody>

        
</table>

