@model IEnumerable<Clinic_Website.Models.Appointment>

@{
    ViewBag.Title = "State_Apps";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h2>
      
  State : @Model.FirstOrDefault().PatientState.StateName
    </h2>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Prescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayofApp)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clinic.ClinicName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Prescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayofApp)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Date_Created)
        </td>
        
    </tr>
}

</table>
